body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-titles {
    color: black;
}

.icon {
    position: relative;
    width: 300px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}


/* Navigation Bar */

nav {
    background-color: white;
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    height: 5rem;
    padding: 5px;
    font-weight: bold;
    text-align: right;
}

nav a {
    margin: auto;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightpink;
}

input {
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    color: black;
}

:placeholder-shown {
    color: white;
}

input:focus {
    border-color: rgb(0, 150, 255);
    background-color: white;
    color: black;
    font-size: large;
    font-weight: 1000;
    border-width: 5px;
    box-decoration-break: none;
    outline: none;
}

.home-logo {
    color: whitesmoke;
    text-align: left;
    top: 0;
    left: 0;
    font-size: 20px;
}

.links {
    position: relative;
    display: flex;
    margin: auto;
    left: 400px;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
}

#home-links a:hover {
    text-shadow: 3px 3px 2px rgb(71, 63, 56), 0 0 1em rosybrown, 0 0 0.2em darkolivegreen;
    font-size: 25px;
}

/* Home Page */

#home-page {
    height: 100%;
    background-color: white;
    color: black;
    background-size: cover;
    display: block;
    text-align: center;
    animation: scroll 10s linear 1s infinite;
}

#cover-video {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%wv;
    height: 95vh;
    opacity: 0.8;
    box-sizing: border-box;
    overflow: hidden;
}

.overlay {
    background-image: linear-gradient(to bottom right, rgba(164, 104, 104, 0), rgba(157, 106, 252, 0.235));
    opacity: 1;
    position: absolute;
    top: 2vh;
    width: 100%;    
    height: 97vh;
    box-sizing: border-box;
    padding: 20%;
    text-align: left;
    color: white;
    font-size: 55px;
    -webkit-text-stroke: 1px black; /* width and color */
}

#text-picture-overlay {
    position: inherit;
    display: flex;
    flex-direction: row;
    background-image: url('../resources/matrix.jpg');
}


#selfie {
    width: 100%;
    opacity: 1.0;
    z-index: 3;
}

.intro {
    display: flex;
    position: relative;
    text-align: center;
    z-index: 2;
    color: white;
}


#icon-box {
    justify-items: center;
    align-content: space-between;
}

.home-section {
    width: 100%;
    height: 100%x;
    display: flex;
    flex-direction: column;
}

#about {
    margin: auto;
    width: 66%;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

#about a {
    color: black;
}

#about a:hover {
    color: rgb(33, 67, 131);
    size: 30px;
    font-weight: bold;
}

#profesh {
    margin: auto;
    width: 66%;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

#job-exp h3 {
    text-align: center;
}

.job-exp {
    margin: auto;
    width: 80%;
    text-align: left;
    padding: 10px;
    font-size: 25px;
    border: 2px ridge darkblue;
}


#projects {
    margin: auto;
    font-size: 25px;

}

#projects a{
    color: black;
}

/* Muisc Player */

#music-icon {
    position: absolute;
    background-color: black;
    top: 9vh;
    bottom: 0;
    left: 3vw;
    right: 0;
    z-index: 3;
    width: 125x;
    height: 125px;
    border-radius: 50%;
    animation: gelatine 2s infinite;
}


#music-status {
    font-size: 20px;
    background-color: white;
    opacity: 0.75;
    border-radius: 50px;
    color:black;
    font-weight: 2000;
    text-decoration: dotted;
    position: absolute;
    top: 15vh;
    bottom: 0;
    left: 4vw;
    right: 0;
    z-index: 3;
    width:75px;
    height: 25px;
    text-shadow:  rgb(162, 115, 139);
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

#resume-icon {
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    animation: hithere 7s ease infinite;
}

@keyframes hithere {
    30% { transform: scale(1.1); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}

.columns {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;
    color: black;
}

/* Projects */
#projects-page {
    height: 100%;
    color: black;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    animation: scroll 10s linear 1s infinite;
}


/* IoT Page */

#iot-page {
    height: 100%;
    margin: auto;
    background-color: white;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    animation: scroll 10s linear 1s infinite;
}


.work-content {
    display: flex;
    align-content: space-around;
    margin-left: 50px;
    text-align: center;
}


.work-images img{
    width: 50vw;
    height: 50vh;
}

.google-docs {
    width: 45vw;
    height: 50vh;
    align-self: center;

}


/* Networks page */

#networks-page {
    height: 80vh;
    color: black;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    animation: scroll 10s linear 1s infinite;
}


#networks-content {
    display: flex;
    margin-left: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
}

#iot-lab3 {
    width: 50vw;
    height: 70vh;
}

.youtube-videos {
    width: 50vw;
    height: 50vh;
}

#docs-lab3 {
    width: 40vw;
    height: 50vh;
}


/* Robotics Page */

#robotics-page {
    color: black;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    animation: scroll 10s linear 1s infinite;
}

#capstone {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    aspect-ratio: 4/3;
}




/* Footer */

.footer {
    display: flex;
    position: relative; 
    width: 100%;
    height: 200px;
    margin: auto;
    left: 0; 
    bottom: 0px;
    padding: 0px;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-block {
    text-align: center;
    justify-items: stretch;
}


.socials-button {
height: 3rem;
}

#footer-resume-button {
    height: 4rem;
    border-radius: 50px;
}

/* No Match Page */

.nomatch-intro {
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    align-content: center;
}

#nothing {
    height: 50vh;
    align-self: center;
}

/* Responsivenes */

@media screen and (max-width: 700px) {
    nav, nav a, nav input[type=text], .logo, .links {
    float: none;
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}
}
